# Flex and AIR SDK paths

	FLEX_HOME=/Users/stevewarren/Development/sdks/flex/4.14.0-AIR16

	android.sdk = /Users/stevewarren/Development/sdks/android_sdk/platforms/android-19
	adt = /Users/stevewarren/Development/sdks/air/AIRSDK_18_0/bin/adt

	swfversion=26
	
	speakaboos.dir = /Users/stevewarren/Clients/Speakaboos/git_repositories/SpeakaboosMobileApp
	
	xcodebuild = /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild

# certificates

	cert.path = /Users/stevewarren/Clients/Speakaboos/git_repositories/native-extensions/build/cert/
	
	#ios
	ios.p12 = ccm-dist.p12
	ios.p12.pwd = S3N_uwiQ-QoGN38
	mobileprovision.file = Speakaboos_Ad_Hoc_Wildcard_Profile.mobileprovision
	
	#android
	android.p12 = ccm-dist-android.p12
	android.p12.pwd = gr33nDr@g0n

# xcode

	scheme = OptimizelyANE
	lib.a = libOptimizelyANE.a

# project directories

	#UPDATE THIS
	project.dir = /Users/stevewarren/Clients/Speakaboos/git_repositories/native-extensions/projects/spk-optimizely_ane
	
	ane.name = OptimizelyANE
	ane.baseclass = com.speakaboos.ane.OptimizelyANE
	project.prefix = SPK-Optimizely
	
	project.dir.java = ${project.dir}/${project.prefix}_Java
	project.dir.ios = ${project.dir}/${project.prefix}_IOS
	project.dir.build = ${project.dir}/${project.prefix}_Build
	project.dir.swc = ${project.dir}/${project.prefix}_SWC
	project.dir.default = ${project.dir}/${project.prefix}_Default
	project.dir.test = ${project.dir}/${project.prefix}_TestAIR

# for ant buildTest
	
	project.testclass = ${project.dir.test}/src/com/speakaboos/ane/optimizely/OptimizelyTest.as
	project.testmanifest = ${project.dir.test}/src/com/speakaboos/ane/optimizely/OptimizelyTest-app.xml
	project.testswf = OptimizelyTest.swf
	project.testapk = OptimizelyTest.apk
	project.testipa = OptimizelyTest.ipa
	